.table {
  border-collapse: collapse;
  color: white;
  display: none;
  font-size: 0.8em;
  margin-top: 20px;
  width: 100%;
  min-width: 270px;
  max-width: 540px;
  &__selected {
    display: table;
  }
  &__header {
    border: 1px solid gray;
    font-size: 1.2em;
    line-height: 3em;
  }
  %__data {
    border: 1px solid gray;
    padding: 4px;
  }
  &__data {
    @extend %__data;
    &--parts-name {
      @extend %__data;
        width: 20vw;
    }
  }
}

.relic {
  display: inline-block;
  font-weight: bold;
  padding: 2px 6px;
  text-align: center;
  width: 78px;
  &.C {
    color: #C47222;
  }
  &.UC {
    color: #C0C0C0;
  }
  &.R {
    color: #C09B0F;
  }
  &.isInVault {
    font-weight: normal;
    opacity: 0.4;
  }
}

/* 481px～ */
@media all and (min-width: 481px)
{
  .table {
    &__data--parts-name {
      width: 12em;
    }
  }
}
