body {
  background-color: #222;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;

  background-color: #111;
  font-size: 0.8em;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;

  padding: 10px 10px;
  min-width: 300px;
}

.link {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  opacity: 1;
}

.link:hover {
  opacity: 0.9;
  color: #adff2f;
}

.active {
  border-bottom: 2px solid #adff2f;
}

.contents {
  margin: 10px 6px;
}

/* 481px～ */
@media all and (min-width: 481px)
{
  .header {
    font-size: 1em;
    padding: 10px 20px;
  }

  .contents {
    margin: 12px 16px;
  }
}
