.relics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  color: white;
  font-size: 0.8em;

  &__list {
    min-width: 80px;
  }

  &__type {
    font-weight: bold;
    font-size: 1.1em;
    color: #adff2f;
    margin-top: 0px;
  }

  &__name {
    margin: 14px 0;
  }
}

/* 481px～ */
@media all and (min-width: 481px)
{
  .relics {
    grid-template-columns: repeat(4, 120px);
    font-size: 1em;
  }
}
